.nav{
    position: fixed;
   width: 150px;
   background-color: #191718;
   height: 100vh;
}

.nav-item{
    list-style: none;
    padding: 14px 0 11px 16px; 
    border-bottom: 1px solid #5C5C5C;
}

.nav-item:hover{
    background-color: #5C5C5C;
    .item-link{
        color: #fff
    }
}


.item-link, .item-selected{
    text-decoration: none;
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    
}

.item-selected{
    color: #fff;
}

